<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  </head>
  <body>
    <div id="content" class="px-4 py-10 mt-5">
      <h1>Welcome to Contact Page</h1>
      <p>If you'd like to reach out, here are my contact details:</p>
      <ul>
        <li><strong>Email:</strong> archit.bhatnagar31@gmail.com</li>
        <li><strong>Phone:</strong> +91-7982091078</li>
        <li>
          <strong>LinkedIn:</strong>
          <a href="https://www.linkedin.com/in/archit-bhatnagar-027699228/"
            >LinkedIn-Archit</a
          >
        </li>
        <li>
          <strong>GitHub:</strong>
          <a href="https://github.com/Archit728">GitHub-Archit</a>
        </li>
      </ul>
    </div>
    <script>
      console.log("Contact page");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>
</html>
